:root {
  --blue: #273fad;
  --green: #3fad27;
  --red: #ad273f;
  --background: #ebebeb;
  --shapes: #ffffff;
  --text-title: #3d3d4d;
  --text: #1c1c29;
  --text-light: #a09cb1;
  --pink: #d53f8c;
  --gray: #1A202C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input,
textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button {
  cursor: pointer;
  border: none;
}
[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--gray);
  gap:3px;
}
